// Vars
$color-brand: #6BB9F0;
$color-amedia: #2c3e50;
$color-ventures: #F0482F;
$color-labs: #4c1aa8;

// Fonts
@import "partials/fonts";

// Bootstrap
@import "vendor/bootstrap";

// Icons
@import "vendor/ionicons";

// Own base
@import "partials/base";

// Components
@import "components/layout";
@import "components/menu";
@import "components/icons";
@import "components/buttons";

// Sections
@import "sections/header";
@import "sections/team";
@import "sections/topics";
@import "sections/contact";
@import "sections/footer";
