.container--m {
    max-width: 600px;
    margin: 0 auto;
}

section {
    padding: 70px 0;

    .pretitle {
        margin-bottom: 0;
    }

    h1 {
        margin-bottom: 50px;
        font-weight: 600;
        font-size: 48px;
        color:$brand-primary;

        .highlighted {
            color: lighten($brand-primary, 15%);
        }
    }

    .pretitle + h1 {
        margin-top: 5px;
    }

    hr {
        border-color: $link-color;
    }
}


/* Grey Section */
.g {
    background: #f2f2f2;
}

/* Dark Section */
.dark {
    background: #151515;

    h1 {
        color:white;
    }
}


/* cta */
.cta {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.cta h2 {
    font-size: 42px;
}
