.contact {
    color: #656565;
    text-align: center;
    padding: 30px 0 0;
    margin: 0;
}

.contact__label {
    text-transform: uppercase;
    padding-top: 30px;
    font-weight: bold;
    color: #656565 !important;
}

.contact__link {
    font-size: 25px;
}
