.contact {
    text-align: center;

    h1 {
        margin-bottom: 50px;
    }

    i {
        margin-right: 10px;
        font-size: 30px;
    }
}
.contact__item {
    color: #656565;
    text-align: center;
    padding: 30px 0 0;
    margin: 0;
}

.contact__item__label {
    text-transform: uppercase;
    padding-top: 30px;
    font-weight: bold;
    color: #eee;
}

.contact__item__link {
    font-size: 30px;
}
